
<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>
        <b>Ali Gürel</b>
        <br>Visit to <a href="https://github.com/AliGurel">GitHub</a>
    </p>
</footer>
</body>

</html>